form{
    text-align: center; 
    font-size: 25pt;
}

h2{
    text-align: center;
}

column_loan{
    text-align: right;
}
p{
    font-size: 40pt;
}

.columnLoan{
    column_loan{
        text-align: left;
}

#test{
    background-color: brown;
    background: brown;
    
}
.bod{
    background-color: brown;
}

